<div
  [hidden]="submitted"
>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div
      class="flex flex-col items-center justify-center"
    >
      <h2>Registro de usuario</h2>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" #nombre="ngModel" name="nombre_usuario" class="form-control ng-untouched ng-pristine ng-valid px-2 border" [(ngModel)]="model.nombre_usuario" required />
      <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">Nombre es requerido</div>
      <label for="apellidos">Apellidos</label>
      <input type="text" id="apellidos" name="apellidos_usuario" class="form-control ng-untouched ng-pristine ng-valid px-2 border" [(ngModel)]="model.apellidos_usuario" required #apellidos="ngModel"/>
      <div [hidden]="apellidos.valid || apellidos.pristine" class="alert alert-danger">Apellidos es requerido</div>
      <label for="rut">RUT</label>
      <input type="text" id="rut" name="rut" #rut="ngModel" class="form-control ng-untouched ng-pristine ng-valid px-2 border" [(ngModel)]="model.rut" required />
      <div [hidden]="rut.valid || rut.pristine" class="alert alert-danger">RUT es requerido</div>
      <label for="email">Email</label>
      <input type="email" id="email" #email="ngModel" name="email" class="form-control ng-untouched ng-pristine ng-valid px-2 border" [(ngModel)]="model.email" required />
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email es requerido</div>
      <label for="rol">Rol</label>
      <select class="form-control ng-untouched ng-pristine ng-valid px-2 border" #rol="ngModel"  id="rol" required [(ngModel)]="model.rol" name="rol">
        <option *ngFor="let rol of roles" [value]="rol">{{rol}}</option>
      </select>
      <div [hidden]="rol.valid || rol.pristine" class="alert alert-danger">Rol es requerido</div>
      <div
      class="flex flex-col items-center justify-center"
      *ngIf="model.rol === 'Productor'"
    >
      <div
        class="flex flex-col items-center justify-center"
      >
        <label for="telefono">Telefono</label>
        <input type="text" id="telefono" name="telefono" class="px-2 py-1" [(ngModel)]="productor.telefono" required>
      </div>
      <div
        class="flex flex-col items-center justify-center"
      >
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" name="direccion" class="px-2 py-1" [(ngModel)]="productor.direccion" required>
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-center"
      *ngIf="model.rol === 'Comerciante'"
    >
      <div
        class="flex flex-col items-center justify-center"
      >
        <label for="telefono">Telefono</label>
        <input type="text" id="telefono" name="telefono" class="px-2 py-1" [(ngModel)]="comerciante.telefono" required>
      </div>
      <div
        class="flex flex-col items-center justify-center"
      >
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" name="direccion" class="px-2 py-1" [(ngModel)]="comerciante.direccion" required>
      </div>
    </div>
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="contrasena" #contrasena="ngModel" class="form-control ng-untouched ng-pristine ng-valid px-2 border" [(ngModel)]="model.contrasena" required />
      <div [hidden]="contrasena.valid || contrasena.pristine" class="alert alert-danger">Contraseña es requerido</div>

      <button type="submit" class="rounded-sm border p-2 bg-green-400 text-white m-2" [disabled]="!userForm.form.valid">Registrarse</button>
    </div>
  </form>
</div>
