<div
  class="flex flex-col items-center justify-center" 
>
  <div
    class="flex flex-row"
  >
    <a routerLink="/productores/nuevo"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="nuevoProductor()"
    >
      Nuevo productor
    </a>
  </div>
  <div>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Nombre</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Teléfono</th>
          <th class="px-4 py-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productor of productoresData">
          <td class="border px-4 py-2">{{ productor.nombre }}</td>
          <td class="border px-4 py-2">{{ productor.email }}</td>
          <td class="border px-4 py-2">{{ productor.telefono }}</td>
          <td class="border px-4 py-2">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
              (click)="editarProductor(productor)"
            >
              Editar
            </button>
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="eliminarProductor(productor.id_productor)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
